@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



   /*********************************/
  /***********1.GLOBAL CSS*********/
 /********************************/
 /* Default CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #283562;
  overflow: hidden;
  position: relative;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
img{
  width: 100%;
  height: auto;
}

.container {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}


   /*********************************/
  /*********** Header css **********/
 /********************************/

.header_area{
  background: #2D3D8A;
  padding: 22px 0;
}

.footer_logo img,
.logo img {
	width: 100px;
	height: 47.52px;
}

.footer_logo a,
.logo_a {
	display: flex;
	align-items: center;
}

.footer_logo a p,
.logo a p {
	color: var(--additional-white, #FFF); 
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	margin-left: 16px;
	border-left: 3px solid #fff;
	padding-left: 16px;
}

.footer_menu ul li a ,
.menu ul li a {
	color: var(--additional-white, #FFF);
	text-align: center;  
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
  transition: 0.3s;
}

.footer_menu ul li a:hover,
.menu ul li a:hover{
  opacity: 0.83;
}

.footer_menu ul ,
.menu ul {
	display: flex;
	justify-content: center;
	gap: 48px;
}

.login_btn ul li a {  
	color: var(--additional-white, #FFF); 
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
  transition: 0.3s;
}

.login_btn ul li a:hover{
  opacity: 0.83;
}

.login_btn ul {
	display: flex;
	justify-content: flex-end;
  gap: 24px;
  align-items: center;
}

.reg_btn {
	border-radius: 4px;
	border: 1.5px solid var(--additional-white, #FFF);
	padding: 12px 16px;
	width: 176px;
	height: 56px;
	display: inline-block;
	text-align: center;
  transition: 0.3s;
}

.reg_btn:hover {
  background: #fff;
  color: #2D3D8A;
}

   /*********************************/
  /*********** Banner CSS **********/
 /********************************/

.banner_area{
  background: url(../images/banner/bg.png) no-repeat scroll center center / 100% 100%;
  position: relative;
}

.banner {
	text-align: center;
	padding: 160px 0 232px 0;
}

.banner h2 {
	color: var(--grayscale-900, #03070B);
	text-align: center; 
	font-size: 60px;
	font-style: normal;
	font-weight: 500;
	line-height: 96px;
}

.banner h2 span {
	color: #2D3D8A; 
}

.banner p {
	margin: 24px auto 56px auto;
	color: var(--grayscale-500, #7D8083);
	text-align: center; 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	max-width: 840px;
	width: 100%;
}

.btn_1 {
	border-radius: 4px;
	background: var(--primary-blue, #2D3D8A);
	width: 248px;
	height: 64px;
	padding: 16px; 
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	color: var(--additional-white, #FFF);
	text-align: center; 
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
  transition: 0.3s;
  border: 1px solid transparent;
}

.btn_1:hover{
  background: #fff;
  color: #2D3D8A;
  border: 1px solid #2D3D8A;
}

.section_padding {
	padding: 100px 0 128px 0;
}

.banner_chat {
	background: transparent;
	border: none;
	position: fixed;
	bottom: 40px;
	right: 48px;
	z-index: 999;
}

.chat_area {
	position: fixed;
	bottom: 30px;
	right: 40px;
	max-width: 480px;
	width: 100%;
	display: none;
	border-radius: 8px;
	background: var(--additional-white, #FFF);
	box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.08);
	z-index: 9999;
}

.chat_header {
	background: var(--primary-blue, #2D3D8A);
	padding: 20px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px 8px 0 0;
}

.chat_header p {
	color: var(--additional-white, #FFF); 
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}

.chat_header a i {
	color: #fff;
	font-size: 24px;
}

.banner_chat img {
	width: 72px;
}

.chat_box {
	padding: 16px;
	box-sizing: border-box;
	height: 476px; 
	overflow-y: scroll;
	scrollbar-width: none;
} 

.left_chat p {
	border-radius: 8px 8px 8px 0px;
	background: var(--grayscale-50, #F3F6F9);
	padding: 8px 16px;
	max-width: 384px;
	width: 100%;
	margin-top: 4px;
	color: var(--grayscale-900, #03070B); 
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}

.right_chat { 
	width: 100%;
	max-width: 384px;
	margin: auto 0 0 auto;
}

.right_chat p {
	border-radius: 8px;
	background: rgba(45, 61, 138, 0.20);
	padding: 8px 16px;
	display: inline-block;
	text-align: left;
	margin-top: 4px;
	color: var(--grayscale-900, #03070B); 
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}

.right_chat span ,
.left_chat span {
	color: var(--grayscale-500, #7D8083); 
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	display: block;
	margin-top: 4px;
}

.right_chat {
	text-align: right;
}

.left_chat,
.right_chat { 
	margin-bottom: 24px;
}

.chat_box_send input {
	border-radius: 4px;
	border: 1.5px solid var(--grayscale-200, #D9DCDF);
	width: 100%;
	height: 64px;
	padding: 16px;
	color: var(--grayscale-500, #7D8083); 
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}

.chat_box_send {
	padding: 16px;
  position: relative;
}

.chat_box_send button {
	position: absolute;
	background: transparent;
	border: none;
	top: 33px;
	right: 35px;
}

.chat_box_send button img {
	width: 24px;
}



   /*********************************/
  /*********** Testi CSS **********/
 /********************************/

.section_title {
	margin-bottom: 60px;
	text-align: center;
}

.section_title h2 {
	color: var(--grayscale-900, #03070B);
	text-align: center; 
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 72px;
	margin-bottom: 16px;
}

.section_title p {
	color: var(--grayscale-500, #7D8083);
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	width: 100%;
	max-width: 50%;
	margin: 0 auto;
}

.test_single{
  text-align: center;
  position: relative;
}

.test_single > img {
	width: 128px !important;
	height: 128px !important;
	position: absolute;
	top: -66px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.testi_info > img {
	width: 40px !important;
	height: 40px !important;
  margin: 0 auto 24px auto;
}

.testi_info h4 {
	color: var(--grayscale-900, #03070B);
	text-align: center; 
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	margin: 24px 0;
}

.testi_info p {
	color: var(--grayscale-500, #7D8083);
	text-align: center; 
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
}

.test_single {
	text-align: center;
	padding: 88px 34px 72px 34px;
	border-radius: 8px;
	border: 1px solid var(--grayscale-100, #E8EBEE);
	background: var(--grayscale-50, #F3F6F9);
	margin-top: 66px; 
}

   /*********************************/
  /*********** Breakdown CSS **********/
 /********************************/

.breack_title h3 {
	color: var(--grayscale-900, #03070B); 
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 72px;
	margin-bottom: 16px;
}

.breack_title p {
	color: var(--grayscale-500, #7D8083); 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
}

.breack_title {
	margin-bottom: 80px;
}

.break_list li img {
	width: 32px;
}

.break_info h4 {
	color: var(--grayscale-900, #03070B); 
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
}

.break_info p {
	color: var(--grayscale-500, #7D8083); 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
}

.break_list li {
	display: flex;
	align-items: flex-start;
	gap: 24px;
  margin-bottom: 32px;
}

.extra_margin{
	margin-bottom: 0 !important;
}

.breadkdown_area{
  padding-bottom: 200px;
}
 

   /*********************************/
  /*********** Footer CSS **********/
 /********************************/

.footer_area{
  background: #03070B;
  padding: 120px 0 40px 0;
}

.footer_menu ul { 
	justify-content: flex-end; 
}

.footer_copy{
  padding-top: 100px;
}

.footer_left_copy p {
	color: var(--grayscale-400, #9FA2A5); 
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}

.footer_right_copy ul li a {
	color: var(--grayscale-400, #9FA2A5);
	text-align: right; 
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
  transition: 0.3s;
}

.footer_right_copy ul li a:hover{
  color: #fff;
}

.footer_right_copy ul {
	display: flex;
	justify-content: flex-end;
	gap: 40px;
}


   /*********************************/
  /*********** Dashboard CSS **********/
 /********************************/


.dashboard_banner {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}

.dashboard_title h2 {
	color: var(--grayscale-900, #03070B);
	text-align: center; 
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 72px;
	margin-bottom: 16px;
}

.dashboard_title p {
	color: var(--grayscale-500, #7D8083);
	text-align: center; 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
}

.dashboard_title {
	margin: 80px 0 40px 0;
}

.meetign_video video {
	width: 100%;
}

.dashboard_banner_area{
  padding-bottom: 100px;
}

.chepter_list {
	border-radius: 8px;
	border: 0.5px solid var(--grayscale-100, #E8EBEE);
	background: var(--grayscale-50, #F3F6F9);
	padding: 16px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.chepter_info {
	display: flex;
	align-items: center;
	gap: 32px;
}

.chepter_count span {
	display: inline-block;
	border-radius: 6px;
	background: var(--primary-blue, #2D3D8A);
	padding: 16px 19px;
	color: var(--additional-white, #FFF);
	text-align: center;  
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
}

.chepter_info h3 {
	color: var(--grayscale-900, #03070B); 
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
}

.chepter_list .unlocked {
	color: var(--primary-blue, #2D3D8A);
	text-align: right; 
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
  transition: 0.3s;
}

.chepter_list .locked {
	color: var(--primary-blue, #7D8083); 
  text-align: right; 
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
  transition: 0.3s;
}

.chepter_list a:hover{
  opacity: 0.83;
}

.chepter_row {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
}

.chepter_col {
	width: 48.8%; 
}

   /*********************************/
  /*********** Chepter CSS **********/
 /********************************/

 .chepter_main{
    padding-top: 80px;
 }

 .chepter_videeo {
	max-width: 1080px;
	width: 100%;
	margin: 40px auto 128px auto;
}

.chepter_cont_p p {
	color: var(--grayscale-500, #7D8083);
	text-align: justify; 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px;
}

.chepter_main_content {
	margin-top: 80px;
}

.chepter_card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 200px;
	flex-wrap: wrap;
}

.chepter_card_single {
	flex: 0 0 23.5%;
	position: relative;
}

.chepter_card_info {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.60); 
	width: 100%;
  padding: 16px 24px; 
}

.chepter_card_info h5 {
	color: var(--additional-white, #FFF); 
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
}

.chepter_card_info ul li p {
	color: var(--grayscale-100, #E8EBEE);
	text-align: right; 
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}

.chepter_card_info ul {
	display: flex;
	gap: 24px; 
  margin-left: 10px;
}

.chepter_card_info ul li {
  position: relative;
}

.chepter_card_info ul li::after {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	background: #E8EBEE;
	border-radius: 100%;
	top: 14px;
	left: -10px;
}

.quiz h3 {
	color: var(--grayscale-900, #03070B);
	text-align: center; 
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 72px;
	margin-bottom: 16px;
}

.quiz p {
	color: var(--grayscale-500, #7D8083);
	text-align: center; 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	margin-bottom: 56px;
}

.quiz_area {
	padding: 148px 0 168px 0;
	background: url(../images/chepter/White-Fill.png) no-repeat scroll center center / 100% 100%;
}
 
   /*********************************/
  /*********** Popup CSS **********/
 /********************************/

 .dashboard_popup,
.weldone {
	position: absolute;
	top: 181px;
	background: url(../images/popup/Pop-Up.png) no-repeat scroll center center / 100% 100%;
	max-width: 1080px;
	margin: 0 auto;
	width: 100%;
	left: 0;
	right: 0;
  padding: 144px 0 128px 0;
}



.weldone_content h2 {
	color: var(--grayscale-900, #03070B);
	text-align: center; 
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 72px;
	margin-bottom: 16px;
}

.weldone_content p {
	color: var(--grayscale-500, #7D8083);
	text-align: center; 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	max-width: 485px;
	width: 100%;
	margin: 0 auto 56px auto;
}

.not_now {
	color: var(--grayscale-500, #7D8083);
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	margin-top: 24px;
	display: inline-block;
  transition: 0.3s;
}

.not_now:hover{
  color: #000;
}

.weldone_content {
	text-align: center;
}

.popup_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.40);
  display: none;
}

.dashboard_popup{
  display: none;
}

.weldone {
  display: none;
}

.close_popup a i {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 35px;
	color: #000;
}

   /*********************************/
  /*********** Booking CSS **********/
 /********************************/

 .booking_area {
	padding: 80px 0 200px 0;
}

.booking_title h2 {
	color: var(--grayscale-900, #03070B); 
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 72px;
	margin-bottom: 16px;
}

.booking_title p {
	color: var(--grayscale-500, #7D8083); 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
}

.booking_header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 80px;
}

.booking_date {
	display: flex;
	align-items: center;
	gap: 40px;
}

.break_list.booking_list {
	display: flex; 
	gap: 40px;
	flex-wrap: wrap;
}

/* celender  */
#calendar{
	margin-left: auto;
	margin-right: auto;
	width: 100% !important;
	font-family: 'Lato', sans-serif;
  }
  #calendar_weekdays div{
	display:inline-block;
	vertical-align:top;
  }
  #calendar_content, #calendar_weekdays, #calendar_header{
	position: relative;
	width: 100% !important;
	overflow: hidden;
	float: left;
	z-index: 10;
  }
  #calendar_weekdays div, #calendar_content div{
	width:40px;
	height: 40px;
	overflow: hidden;
	text-align: center;
	background-color: #FFFFFF;
	color: #787878;
  }
  #calendar_content{
	-webkit-border-radius: 0px 0px 12px 12px;
	-moz-border-radius: 0px 0px 12px 12px; 
	border-radius: 0px 0px 12px 12px;
  }
  #calendar_content div{
	float: left;
  }
  #calendar_content div:hover{
	background-color: #F8F8F8;
  }
  #calendar_content div.blank{
	/* background-color: #E8E8E8; */
  }
  #calendar_header, #calendar_content div.today{
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
  }
  #calendar_content div.today{
	color: #FFFFFF;
  }
  #calendar_header{
	width: 100%;
	height: 37px;
	text-align: center;
	background-color: #FF6860;
	padding: 18px 0;
	-webkit-border-radius: 12px 12px 0px 0px;
	-moz-border-radius: 12px 12px 0px 0px; 
	border-radius: 12px 12px 0px 0px;
  } 
  i[class^=icon-chevron]{
	color: #FFFFFF;
	float: left;
	width:15%;
	border-radius: 50%;
  }

  .booking_li {
	display: flex;
	gap: 24px;
	align-items: flex-start;
}

.booking_list.break_list li { 
	display: initial;
} 

#calendar_header {
	display: flex;
	align-items: center;
	background: transparent !important;
	justify-content: space-between;
}

#calendar_header h1 { 
	color: var(--grayscale-900, #03070B);
	font-feature-settings: 'case' on; 
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}

i[class^="icon-chevron"] {
	color: #03070B;  
	font-size: 24px;
}
 
#calendar_weekdays div {
	color: var(--grayscale-500, #7D8083) !important;
	text-align: center; 
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
}

#calendar_content div {
	color: var(--grayscale-800, #282A2C);
	text-align: center; 
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}

.booking_celender {
	border-radius: 8px;
	border: 1px solid var(--grayscale-50, #F3F6F9);
	background: var(--additional-white, #FFF);
	box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.04);
	padding: 24px 22px 20px 22px;
	height: 100%;
	margin-top: 40px;
}

#calendar_content div.today {
	color: #FFFFFF;
	border-radius: 100px;
	background: var(--primary-blue, #2D3D8A) !important; 
}

.date_times_box ul li p {
	border-radius: 4px;
	border: 0.5px solid var(--grayscale-100, #E8EBEE);
	background: var(--grayscale-50, #F3F6F9);
	padding: 12px 22px;
	color: var(--grayscale-800, #282A2C);
	text-align: center;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	width: 112px;
}

.date_times_box ul li p.active{
	background: #2D3D8A;
	color: #fff;
	border-radius: 4px; 
}

.date_times_box {
	margin-top: 40px;
}

.date_times_box ul {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.date_times_box ul li {
	margin-bottom: 0px !important;
	flex: 0 0 21%;
}

.booking_widht {
	flex: 0 0 27%;
}

.bookign_text_box{
	margin-top: 40px;
}

.bookign_text_box textarea {
	border: 1.5px solid var(--grayscale-200, #D9DCDF); 
	width: 100%;
	height: 428px;
	padding: 32px 40px 364px 40px;
	resize: none;
	color: var(--grayscale-500, #7D8083);
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400; 
}

.in_date{
	visibility: hidden;
	opacity: 0;
}
 
.click_date{
	cursor: pointer;
}

.booking_widht_big {
	flex: 0 0 40%;
}

.booking_date p {
	color: var(--grayscale-500, #7D8083);
	text-align: right; 
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
}



   /*********************************/
  /*********** Reeee CSS **********/
 /********************************/

 .mobile_menus {
	display: none;
 }

 .mobile_bars {
	display: none;
}